.section-claim-declaration{
  background: url(../images/declaration/clouds.svg) center 50px repeat-x $tropical-blue;
  background-size: auto 320px;
  padding-bottom: 0;
}
.declaration-step{
  &-container{
    max-width: 1170px;
    margin: auto;
  }
  &-title{
    font-size: 30px;
    font-weight: 600;
  }
  &-subtitle{
    font-size: 24px;
  }
  &-tags{
    padding: 20px 0;
    font-size: 24px;
    color: $jordy-blue;
  }
  @media(max-width: $screen-xs-max){
    &-header{
      text-align: center;
    }
    &-content{
      padding: 10%;
    }
    &-title{
      font-size: 25px;
    }
    &-subtitle{
      font-size: 18px;
    }
    &-tags{
      padding: 15px 0;
      font-size: 18px;
    }
  }
  .bubble-item{
    font-size: 28px;
    color: rgba(#fff, 0.7);
    letter-spacing: 5px;
    text-indent: 5px;
  }
  &.step-payment{
    position: relative;
    margin-top: -$separatop-check-height;
    padding-top: $separatop-check-height / 2;
    padding-bottom: 20px;
    background: url(../images/declaration/house3.svg) center bottom repeat-x $sail;
  }
  &.step-declare{
    position: relative;
    z-index: 20;
  }
}
.talk{
  max-width: 320px;
  margin: auto;
  .message{
    margin: 10px 0;
    padding: 12px;
    min-height: 50px;
    min-width: 280px;
    font-size: 18px;
    clear: both;
    &.message-empty{
      @extend .person-2;
      opacity: 0.25;
    }
    &.person-1{
      float: left;
      background: #fff;
      border-radius: 15px 15px 15px 0;
    }
    &.person-2{
      float:right;
      background: $jordy-blue;
      border-radius: 15px 15px 0 15px;
    }

  }
}
.separator-check{
  position: relative;
  z-index: 10;
  height: $separatop-check-height;

  .container{
    position: relative;
    top: -35px;
    height: 100%;
  }
  .check{
    display:inline-block;
    position: absolute;
    &:nth-child(1){
      top: 50%;
      left: 0%;
      @media(max-width: $screen-xs-max){
        left: 40%;
        top: 35%;
      }
    }
    &:nth-child(2){
      top: 25%;
      left: 8%;
    }
    &:nth-child(3){
      top: 50%;
      left: 14%;
    }
    &:nth-child(4){
      top: 70%;
      left: 25%;
    }
    &:nth-child(5){
      top: 5%;
      left: 35%;
    }
    &:nth-child(6){
      top: 50%;
      left: 72%;
    }
    &:nth-child(7){
      top: 0;
      left: 78%;
    }
    &:nth-child(8){
      top: 55%;
      left: 87%;
    }
    &:nth-child(9){
      top: 45%;
      left: 97%;
    }
  }
}

.declaration-process{
  vertical-align: top !important;
  margin-top: 10%;
  @media(max-width: $screen-xs-max){
    margin-top: 0;
  }
}
.declaration-instructions{
  padding: 0 0 0 22px;
  li{
    position: relative;
    padding-top: 2px;
    padding-left: 45px;
    padding-bottom: 30px;
    list-style: none;
    font-size: 18px;
    &:after{
      content: "";
      display:block;
      left: ($check-size / 2) - 1;
      top: 0;
      width: 0;
      height: 100%;
      position: absolute;
      border: 1px dashed #fff;
    }
    &:last-child{
      &:after{content: none;}
    }
    .check{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      background-color:  $atlantis;
    }
  }
}

.houses{
  position: absolute;
  top:0;
  right: 0;
  height: 240px;
  left: 0;
  background: center bottom repeat-x;
  &.houses-front{
    background-color: $tropical-blue;
    background-image: url(../images/declaration/house1.svg);

  }
  &.houses-back{
    background-image: url(../images/declaration/house2.svg);

  }
}
