.header-site {
  padding: 0 15px;

  h1 {
    margin: 0;
    padding: 30px 0 0;
    @media(max-width: $screen-xs-max){
      img{
        max-width: 60%;
      }
    }
  }
  .baseline {
    font-size: 16px;
    .emoji {
      display:inline-block;
      vertical-align: bottom;
      height: 25px;
      width: auto;
    }
  }
  .block-btn{
    margin: 2vh 0;
  }
  @media(min-width: $breakpoint_mobile){
    h1{
      padding-top: 50px;
    }
    .block-btn{
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
    .baseline{
      font-size: 20px;
    }
  }
}
.slogan {
  margin: 40px 0;
  font-size: 54px;
  line-height: 1.2;
  font-family: $font-serif;
  font-weight: 300;
  @media(max-width: $screen-xs-max){
    font-size: 22px;
    padding: 0 15px;
    br{
      display: none;
    }
  }
}
.home{
  .header-site{
    height: 100vh;
    min-height: 680px;
    background: url(../images/bg-header.png) center bottom repeat-x;
    background-size: auto 30vh;
    padding-bottom: 30vh;
    @media(min-width: $breakpoint_mobile){
      min-height: 845px;
    }
  }
}

body:not(.home){
  .header-site{
    position: fixed;
    top: 0;
    z-index: 500;
    width: 100%;
    padding: 15px;
    background: #fff;
    .logo{
      img{
        height: 68px;
        width: auto;
      }
    }

  }
}
