.list-icon-text{
  padding: 20px 0;
  font-size: 0;
  text-align: center;
  .list-text{
    margin-top: 20px;
    padding: 0;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.3s;
  }
  .icon-text-item{

    a{
      color: inherit;
      &:hover, &:focus{
        text-decoration: none;
      }
    }
    .img{
      float:none;
      margin-left: auto;
      margin-right: auto;
      transition: all 0.3s;

      img{
        max-height: 80px;
        width: auto;
      }
    }
    &:hover:not(.active){
      .list-text{
        font-weight: 400;
      }
      .img{
        transform: scale(1.05);
      }
    }
    &.active{
      .list-text{
        font-weight: 500;
        .glyphicon{
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          margin: auto;

          font-size: 16px;
        }
      }
    }
  }
  @media(max-width: $screen-xs-max){
    .icon-text-item{
      float:none;
      margin-left: auto;
      margin-right: auto;
      + .icon-text-item{
        margin-top: 45px;
      }

    }
  }
  @media(min-width: $screen-sm-min){
    .list-text{
      font-size: $text-xl;
    }
    .icon-text-item{
    margin: 0;
    display:inline-block;
    float:none;
    vertical-align: baseline;
    + .icon-text-item {
      &:before{
        content: "";
        position: absolute;
        display: inline-block;
        top: 20px;
        left: 0;
        width: 1px;
        height: 70px;
        background: #fff;
        opacity: 0.5;
      }
      .img{
        position: relative;
      }
    }
    }
  }
}
