.list-icon-text{
  padding: 20px 0;
  font-size: 0;
  text-align: center;
  .list-text{
    margin-top: 10px;
    padding: 0;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .icon-text-item{

    a{
      color: inherit;
      &:hover{
        text-decoration: none;
      }
    }
    &.active{
      .list-text{
        font-weight: 500;
        .glyphicon{
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          margin: auto;

          font-size: 16px;
        }
      }
    }
  }
  @media(max-width: $screen-xs-max){
    .icon-text-item{
      float:none;
      margin-left: auto;
      margin-right: auto;
      + .icon-text-item{
        margin-top: 45px;
      }
      .img{
        float:none;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  @media(min-width: $screen-sm-min){
    .list-text{
      font-size: 36px;
    }
    .icon-text-item{
    margin: 0;
    display:inline-block;
    float:none;
    vertical-align: baseline;
    + .icon-text-item {
      .img{
        position: relative;
        &:before{
          content: "";
          position: absolute;
          display: inline-block;
          bottom: 0;
          left: 0;
          width: 1px;
          height: 70%;
          background: #fff;
          opacity: 0.5;
        }
      }
    }
    }
  }
}
