section, .section{
  position: relative;
}
.section{
  padding: 55px 0 40px 0;
  border-bottom: 1px solid rgba($dusty-gray, 0.35);
  &.section-gray{
    background-color: $gallery;
  }
  &.section-hello{
    background-image: url(../images/hello-light.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }

  .section-header{
    padding-bottom: 40px;
    text-align: center;
  }
  .dash{
    background: $shakespeare;
    width: 96px;
  }
  .section-title{
    margin: 0;
    font-size: 36px;
    text-transform: uppercase;
    small{
      font-size: 0.75em;
      color: inherit;
    }
  }
  .section-text{
    font-size: $text-md;
    text-align: justify;
    p+p{
      margin-top: 30px;
    }
  }
  .text-heading{
    font-size: 20px;
  }
  @media(max-width: $screen-sm-max){
    .section-header{
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 10px;
      br:not(.no-hidden){
        display:none;
      }
      h3 {
        font-size: 16px;
      }
      .section-title{
        font-size: 22px;
      }
      .text-heading{
        font-size: 14px;
        margin-top: 25px;
      }
    }
  }
  .section-content{
    padding: 0;
    font-size: $text-md;
    color: $dove-gray;
  }
}
