////// colors ///////
// black
//
//
// gray
$alto: #d8d8d8;
$gallery: #ecebeb;
$manatee: #8C8F9D;
$dusty-gray: #979797;
$gallery: #efefef ;
$dove-gray: #6e6e6e;
$silver: #bcbaba;
$tundora: #4a4a4a;
$hint-of-red: #fcfbfb;
$wild-sand: #f6f6f6;
// blue
$shakespeare : #3A96D0;
$link-water: #E8EFF9;
$jordy-blue: #98D0F2;
$tropical-blue: #D7EDFA;
$sail: #B6DEF6;

// green
$atlantis: #81BD23;

$kik: #82be06;
$line: #3acd01;
$app-message: #57ba63;
$app-call: #009846;
$messenger: #0084ff;

$main-color: $shakespeare;
$gray: $alto;

// fonts
$font-serif: 'Merriweather', 'serif';
$font-sans-serif: 'Work Sans', 'sans-serif';
$font-raleway: 'Raleway', 'serif';

$font-family-sans-serif: $font-sans-serif;

$icon-font-path: '../fonts/';

$brand-info: $main-color;
$brand-success: #00D0A1;

$mdb-label-color: $silver;
$mdb-text-color-light: #fff;

$placeholder-font-size: 18px;
