////// colors ///////
// black
//
//
// gray
$alto: #d8d8d8;
$gallery: #ecebeb;
$manatee: #8C8F9D;
$dusty-gray: #979797;
$gallery: #efefef ;
$dove-gray: #6e6e6e;

// blue
$shakespeare : #3A96D0;
$link-water: #D5E7F2;
$jordy-blue: #98D0F2;
$tropical-blue: #D7EDFA;
$sail: #B6DEF6;

// green
$atlantis: #81BD23;

$main-color: $shakespeare;
$gray: $alto;


// fonts
$font-serif: 'Merriweather', 'serif';
$font-sans-serif: 'Work Sans', 'sans-serif';
$font-raleway: 'Raleway', 'serif';
// header-site
$header-bg-size: 205px;

/// section

// timeline
$timeline-item-width: 18%;

// percentage-item
$percentage-size: 150px;
$percentage-bg: $jordy-blue;
$percentage-color: #fff;
$percentage-border-radius: 50%;
//

// contract
$contract-border-color: $alto;
$contract-top-bg: $link-water;
$contract-bottom-bg: #fff;
$contract-border-radius: 6px;
$contract-padding-horizontal: 15px;
$contract-space-img: 22%;

// check
$check-size: 30px;
$check-color: #fff;
$check-border-color: #fff;
$check-border-width: 3px;
$check-bg: $shakespeare;
$check-font-size: 18px;

$separatop-check-height : 240px;

$block-chat-icon-size: 85px;
$block-chat-icon-size-mobile: 50px;

$list-square-size: 12px;
$list-square-bg: $main-color;

//== Media queries breakpoints
// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$breakpoint_mobile: $screen-sm-min;
