// header-site
$header-bg-size: 205px;

/// section

// timeline
$timeline-item-width: 18%;

// percentage-item
$percentage-size: 150px;
$percentage-bg: $jordy-blue;
$percentage-color: #fff;
$percentage-border-radius: 50%;
//

// contract
$contract-border-color: $alto;
$contract-top-bg: $link-water;
$contract-bottom-bg: #fff;
$contract-border-radius: 6px;
$contract-padding-horizontal: 15px;
$contract-space-img: 22%;

// check
$check-size: 30px;
$check-color: #fff;
$check-border-color: #fff;
$check-border-width: 3px;
$check-bg: $shakespeare;
$check-font-size: 18px;

$separatop-check-height : 240px;

$block-chat-icon-size: 85px;
$block-chat-icon-size-mobile: 50px;

$list-square-size: 12px;
$list-square-bg: $main-color;

$breakpoint_mobile: $screen-sm-min;

$bubble-chat-pointer-width: 52px;
$bubble-chat-pointer-radius: 3em;
