@import 'common/text';
.link{
  font-size: 22px;
  color: $main-color;
  &:hover{
    text-decoration: none;
  }
  .icon, .glyphicon{
    color: #000;
    font-size: 25px;
    line-height: 1;
    vertical-align: middle;
    margin-right: 12px;
    &.center-block{
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}
.link-bottom{
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  a{
    color: inherit;
  }
}
.no-padding{
  padding: 0 !important;
}
.align-items{
  font-size: 0;
  .align-item{
    float:none;
    display: inline-block;
    font-size: initial;
  }
  &.middle{
    .align-item{
      vertical-align: middle;
    }
  }
}
.element-overlap{
  position: relative;
  z-index: 10;
  + .element-overlap{
    margin-left: -18%;
  }
}

$max-element : 4;
@for $i from 1 through $max-element{
  .element-overlap:nth-child(#{$i}){
    z-index: $max-element - $i;
    margin-top: ($i - 1 ) * 11%;
  }
}

.check{
  display: block;
  background: $check-bg;
  width: $check-size;
  height: $check-size;
  line-height: $check-font-size;
  border: $check-border-width solid $check-border-color;
  font-size: $check-font-size;
  color: $check-color;
  text-align: center;
  border-radius: 50%;
}

.list-square{
  ul{
    margin: 20px 0;
    padding-left: 10px;
  }
  li{
    position: relative;
    margin-bottom: 10px;
    list-style:none;
    font-size: 18px;
    font-weight: 500;
    padding-left: $list-square-size + 10px;
    &:before{
      content: "";
      display:inline-block;
      width: $list-square-size;
      height: $list-square-size;
      background: $list-square-bg;
      position: absolute;
      top: 8px;
      left: 0;
    }
    @media(max-width: $screen-xs-max){
      font-size: 16px;
    }

  }
}

.block-chat{
  margin: 30px 0;
  border: 1px solid $dusty-gray;
  border-radius: 15px;
  padding: 35px 50px 35px ($block-chat-icon-size + 25);
  position: relative;
  font-size: 18px;
  &:before{
    content: "";
    display:block;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: $block-chat-icon-size;
    height: $block-chat-icon-size;
    background: url(../images/icon-chat.svg) center center no-repeat;
    background-size: contain;
  }

  @media(max-width: $screen-xs-max){
    padding-right: 30px;
    padding: 15px 25px 15px ($block-chat-icon-size-mobile + 10);
    font-size: 16px;
    &:before{
      top: 15px;
      left: 5px;
      transform: none;
      width: $block-chat-icon-size-mobile;
      height: $block-chat-icon-size-mobile;
    }
  }
}
@media(min-width: $screen-sm-min){
  .alternate-item{
    .row{
      display:table;
      font-size: 0;
      > div{
        display: table-cell;
        float:none;
        font-size: initial;
        direction: ltr;
        vertical-align: middle;
        &.valign-top{
          vertical-align: top;
        }
      }
      @media(min-width: $screen-sm-min){
        &:nth-child(even){
          direction: rtl;
        }
      }
      +.row{
        border-top: 1px solid #eee;
      }
    }
  }
}

.block-text{
  padding: 25px 40px;
  &-title{
    font-size: $text-lg;
    margin-bottom: 40px;
    font-weight: 400;
    text-transform:none;
  }

  p{
    font-size: $text-md;
    color:$tundora;
    text-align: justify;
  }
}
.block-bg-color{
  padding-bottom: 25px;
  .block-title{
    position: relative;
    &:before{
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 1px;
      transform: translateY(-50%);
    }
    span{
      position: relative;
      display: inline-block;
      padding: 5px 25px;
      font-size: 30px;
      font-weight: 500;
      text-transform: uppercase;
      //text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    }
  }
  &.block-gray{
    background: #8c8f9d;
    color: #fff;
    .block-title{
      span{
        background: #8c8f9d;
      }
      &:before{
        background-color: #fff;
      }
    }
    @media(max-width: $screen-xs-max){
      li {
        margin-bottom: 30px;
      }
    }
  }
  .icon{
    margin-bottom: 15px;
  }
}
.icon-large{
  line-height: 1;
  font-size: 40px;
}

.video-cover{
  z-index: -5;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}
.header-site-top:before{
  content: '';
  position: absolute;
  z-index: -2;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.7);
}

.sticker{
  position: absolute;
  top: 50%;
  transform: translate(-90%, -70%);
  max-width: 90px;
}

.flex-item{
  display:flex;
}
