.text-bold {
  font-weight: 400;
}
.link{
  font-size: 22px;
  color: $main-color;
  &:hover{
    text-decoration: none;
  }
  .icon, .glyphicon{
    color: #000;
    font-size: 25px;
    line-height: 1;
    vertical-align: middle;
    margin-right: 12px;
    &.center-block{
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}
.no-padding{
  padding: 0;
}
.align-items{
  font-size: 0;
  .align-item{
    float:none;
    display: inline-block;
    font-size: initial;
  }
  &.middle{
    .align-item{
      vertical-align: middle;
    }
  }
}
.element-overlap{
  position: relative;
  z-index: 10;
  + .element-overlap{
    margin-left: -18%;
  }
}

$max-element : 4;
@for $i from 1 through $max-element{
  .element-overlap:nth-child(#{$i}){
    z-index: $max-element - $i;
    margin-top: ($i - 1 ) * 11%;
  }
}

.check{
  display: block;
  background: $check-bg;
  width: $check-size;
  height: $check-size;
  line-height: $check-font-size;
  border: $check-border-width solid $check-border-color;
  font-size: $check-font-size;
  color: $check-color;
  text-align: center;
  border-radius: 50%;
}
