// Normalize Styles
@import 'node_modules/normalize.css/normalize';

@import 'node_modules/bootstrap/dist/css/bootstrap';
@import 'src/_styles/iconfont';

@import '_theme_variables';
@import 'bootstrap-override';
@import 'mixins';
@import 'common';
@import 'parts/header';
@import 'parts/footer';
@import 'parts/section';
@import 'parts/contract';
@import 'parts/insurance-level';
@import 'parts/inventory';
@import 'parts/declaration';
@import 'parts/timeline';
@import 'parts/percentage';
@import 'parts/product';
@import 'parts/faq';

@import 'counter';

@import 'node_modules/fancybox/dist/css/jquery.fancybox';

//@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400|Work+Sans:300,400,500,600,700|Raleway:300');
@import '../fonts/fonts.css';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: $font-sans-serif;
  font-weight: 300;
}

.main-content {
  min-height: 680px;
}

.terms {
  margin-top: 100px;
  margin-bottom: 100px;
}

.form {
  a {
    text-decoration: underline;
  }
  margin-bottom: 10px;
  @media(max-width: $screen-sm-max){
      h2 {
        font-size: 20px;
      }
    }
}

.block-share {
  text-align: center;
  &-label{
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  a {
    //color: #fff;
    font-size: 25px;
    margin-right: 15px;
    &:hover{
      text-decoration:none;
    }
    @media(max-width: $screen-xs-max){
      margin-right: 30px;
    }
  }
}

.digital-risk {
  .row {
    margin-top: 20px;
    margin-bottom: 20px;

    @media(max-width: $screen-xs-max){
      margin-left: 0;
      margin-right: 0;
      h2 {
        text-align: center;
      }
    }
  }
}
.service-include{
  li{
    padding: 0 35px;
  }
  @media(max-width: $screen-xs-max){
    li{
      display: block;
      max-width: 280px;
      margin: 0 auto 30px;
      float: none;
    }
  }
}

header.form h3 {
  font-size: 20px;
  padding: 0px 10px;
}

.glyphicon-menu-down {
  color: white;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}
