
@mixin dash($color: #000, $margin: 20px 0, $width: 40px, $height: 1px){
    display:block;
    width: $width;
    height: $height;
    @include dash-color($color);
    @include dash-margin($margin);
}
@mixin dash-color($color){
    background: $color;
}
@mixin dash-margin($margin){
    margin: $margin;
}

.dash{
    @include dash();
}

@mixin cover(){
  position:relative;
  .cover{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    img{
      position: absolute;
      min-height: 100%;
      min-width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
