// weight
.text-bold {
  font-weight: 500;
}
.text-semibold {
  font-weight: 400;
}
.text-light {
  font-weight: 300;
}

// size
.text-sm, .text-md, .text-lg{
  line-height: 1.1;
}
.text-xs{
  font-size: $text-xs;
}
.text-sm{
  font-size: $text-sm;
}
.text-md{
  font-size: $text-md - 3px;
}
.text-lg{
  font-size: $text-lg - 6px;
}
.text-xl{
  font-size: $text-xl;
}


@media(min-width: $screen-sm-min){
  .text-md{
    font-size: $text-md;
  }
  .text-lg{
    font-size: $text-lg;
  }
}
// align
.text-top{
  vertical-align: top;
}

// colors
.text-white{color:#fff;}

// icon size
.text-icon-xl{
  font-size: $text-icon-xl;
}
